@import "tailwindcss";

@theme {
  --container-default: 1200px; /* max container width before it stops growing */
  --container-padding: 1rem; /* padding on the sides of containers */
  --container-margin: auto; /* center the container */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1200px;
}